streamlit==1.37.1
langchain==0.3.26
langchain_community==0.3.23
langchain-pymupdf4llm==0.3.1
langchain-core==0.3.66
langchain-openai==0.3.12
langchainhub==0.1.15
numpy==1.26.4
sqlalchemy==2.0.27
pydantic==2.11.1
tavily-python==0.4.0
langchain-google-genai==2.1.6
plotly==6.2.0
pyodbc==5.2.0
pandas==2.2.2
requests==2.32.3
psutil==5.9.8
